.login-popup{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
   
    display: grid;
}
.login-popup-container{
    place-self: center;
    width: max(23vw, 330px);
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap:25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
    margin-top: 100px;
}
.login-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:black;
}
.login-popup-title h2{
    color: black;
   
}
.login-popup-title img{
   
    cursor: pointer;
   
}

.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-popup-inputs input{
    outline: none;
    border: 1px solid brown ;
    padding: 10px;
    border-radius: 4px;
}
.login-popup-container button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: brown;
    font-size: 15Px;
    cursor: pointer;
}
.login-popup-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}
.login-popup-condition input{
    margin-top: 5px;

}
.login-popup p span{
    color: brown;
    font-weight: 500;
    cursor: pointer;
}