.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4px;
    background-color: black;
}
.navbar .logo{
   
    height: 100px;
}
.navbar .profile
{
    width: 100px;
}